.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (min-width: 767px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 940px;
    padding: 60px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
}

.home-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 32px;
}

.home-description {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
}

.find-jobs-button {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .home-content {
    width: 60%;
  }
  .home-heading {
    font-size: 75px;
  }
  .home-description {
    font-size: 32px;
  }
  .find-jobs-button {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px 16px 32px;
  }
}
