.nav-header {
  background-color: #272727;
  padding: 20px;
  border: none;
  position: sticky;
  top: 0;
}

.nav-mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .nav-mobile-container {
    display: none;
  }
}

.nav-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .nav-large-container {
    display: none;
  }
}

.website-logo {
  width: 70px;
}

@media screen and (min-width: 767px) {
  .website-logo {
    width: 140px;
  }
}

.menu-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.menu-list-item {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-icon {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.logout-btn {
  background: none;
  border: none;
  padding: 0px;
}

.nav-menu {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
}

.nav-menu-item {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
